<div class="form-container">
  <div class="form-field">
    <h1>Create Your Account</h1>
    <form [formGroup]="registerForm" class="form">
      <div class="name-field">
        <div class="name-container">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" formControlName="firstName">
          <div class="warning"
            *ngIf="registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched">
            First name is required.</div>
          <div class="warning" *ngIf="registerForm.get('firstName')?.hasError('maxlength')">Maximum length is 20 char</div>
        </div>
        <div class="name-container">
          <label for="middleName">Middle Name:</label>
          <input type="text" id="middleName" formControlName="middleName">
          <div class="warning" *ngIf="registerForm.get('middleName')?.hasError('maxlength')">Maximum length is 20 char</div>
        </div>
        <div class="name-container">
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" formControlName="lastName">
          <div class="warning"
            *ngIf="registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.touched">
            Last Name is required.</div>
          <div class="warning" *ngIf="registerForm.get('lastName')?.hasError('maxlength')">Maximum length is 20 char</div>
        </div>
      </div>
      <div class="age-gender-field">
        <div class="age-field">
          <label for="age">Age:</label>
          <input type="number" id="age" formControlName="age" min="10" max="50">
          <div class="" *ngIf="registerForm.get('age')?.hasError('required') && registerForm.get('age')?.touched">Age is
            required.</div>
          <div class="" *ngIf="registerForm.get('age')?.hasError('pattern')">Age should be a number.</div>
          <div class="" *ngIf="registerForm.get('age')?.hasError('max')">Maximum age can be 50.</div>
          <div class="" *ngIf="registerForm.get('age')?.hasError('min')">Minimum age should be 10.</div>
        </div>
        <div class="gender-field">
          <div class="gender">
            <label for="gender">Gender:</label>
            <label><input type="radio" value="Male" formControlName="gender">
              <span>Male</span>
            </label>
            <label><input type="radio" value="Female" formControlName="gender">
              <span>Female</span>
            </label>
          </div>
        </div>
      </div>
      <div class="adress-field">
        <form formGroupName="address" class="adddiv">
          <div class="name-field">
            <label for="street">Street:</label>
            <input type="text" id="street" formControlName="street">
            <div class="warning"
              *ngIf="registerForm.get('address.street')?.hasError('required') && registerForm.get('address.street')?.touched">
              Street is required.</div>
            <div class="warning" *ngIf="registerForm.get('address.street')?.hasError('maxlength')">Maximum length is 20
              characters.</div>

            <label for="landmark">Landmark:</label>
            <input type="text" id="landmark" formControlName="landmark">
            <div class="warning" *ngIf="registerForm.get('address.landmark')?.hasError('maxlength')">Maximum length is
              20
              characters.</div>

          </div>
          <div class="name-field">
          <label for="city">City:</label>
          <input type="text" id="city" formControlName="city">
          <div class="warning"
            *ngIf="registerForm.get('address.city')?.hasError('required') && registerForm.get('address.city')?.touched">
            City
            is required.</div>
          <div class="warning" *ngIf="registerForm.get('address.city')?.hasError('maxlength')">Maximum length is 20
            characters.</div>

          <label for="state">State:</label>
          <input type="text" id="state" formControlName="state">
          <div class="warning"
            *ngIf="registerForm.get('address.state')?.hasError('required') && registerForm.get('address.state')?.touched">
            State is required.</div>
          <div class="warning" *ngIf="registerForm.get('address.state')?.hasError('maxlength')">Maximum length is 20
            characters.</div>
          </div>
          <div class="name-field">
          <label for="zipCode">Zip Code:</label>
          <input type="number" id="zipCode" formControlName="zipCode">

          <div class="warning"
            *ngIf="registerForm.get('address.zipCode')?.hasError('required') && registerForm.get('address.zipCode')?.touched">
            Zip Code is required.</div>
          <div class="warning" *ngIf="registerForm.get('address.zipCode')?.hasError('maxlength')">Maximum length is 20
            characters.</div>
          <div class="warning" *ngIf="registerForm.get('address.zipCode')?.hasError('pattern')">Zip Code must be a
            number.
          </div>

          <label for="country">Country</label>
          <input type="text" id="country" formControlName="country">

          <div class="warning"
            *ngIf="registerForm.get('country')?.hasError('required') && registerForm.get('country')?.touched">Country is
            required.</div>
          <div class="warning" *ngIf="registerForm.get('country')?.hasError('maxlength')">Maximum length is 20
            characters.
          </div>
        </div>
        </form>
      </div>
      <div class="hobby-field">
        <label>Hobbies:</label>
        <div class="hobbies" formArrayName="hobbies">
          <div class="warning" *ngFor="let hobby of hobbies.controls;let i = index">
            <input type="text" placeholder=" Enter your hobby " [formControlName]="i">
          </div>
          <button class="btn-hobby" type="button" (click)="addHobby()">add</button>
        </div>
      </div>
    </form>
    <button type="submit" (click)="onSubmit()" class="btn">Submit</button>
  </div>
</div>